<h1>Signup!</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
  <div class="alert alert-danger">
    <strong>The following errors prevented registering:</strong>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>